* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'San Francisco Pro Display';
}

@font-face {
    font-family: 'San Francisco Pro Display';
    src: url('/fonts/SFProDisplay-Light.eot');
    src: url('/fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFProDisplay-Light.woff') format('woff'),
    url('/fonts/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro Display';
    src: url('/fonts/SFProDisplay-Medium.eot');
    src: url('/fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFProDisplay-Medium.woff') format('woff'),
    url('/fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro Display';
    src: url('/fonts/SFProDisplay-Black.eot');
    src: url('/fonts/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFProDisplay-Black.woff') format('woff'),
    url('/fonts/SFProDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.eot');
    src: url('/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto-Light.woff') format('woff'),
    url('/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}